.color-1{
    background-color: #FF85AB;
}
.color-2{
    background-color: #7CE4CC;
}
.color-3{
    background-color: #AFC6FA;
}
.color-4{
    background-color: #F7E5BC;
}
.color-5{
    background-color: #628BF7;
}
.color-6{
    background-color: #E060AD;
}
.balck{
    background-color: black;
}