<content class="content-ha-center">
    <img src="/template//assets/img/bird-1.svg" class="bird hidden">
    <img src="/template//assets/img/bird-2.svg" class="bird hidden">
    <img src="/template//assets/img/bird-3.svg" class="bird hidden">
    <div class="content content-ha-center">
        <div class="input-border">
            <input type="text" class="search">
        </div>
        <div class="places-list col content-ha-center">
            {foreach item=place from=$places}
                    {include file='template/assets/components/place.htm' place=$place}
            {/foreach}
        </div>
    </div>
    <img src="/template//assets/img/bird-4.svg" class="bird hidden">
</content>